article.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

div.CardBox {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  filter: drop-shadow(2px 2px 5px #333);
}

article h2 {
  font-size: 4vw;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  article h2 {
    font-size: 1.7rem;
  }
}

article h2 a {
  text-decoration: none;
  color: #111;
}

article h2 a:hover {
  color: brown;
  transition: all 0.5s ease;
}

article img {
  width: 100%;
}

.BtnFilme {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: var(--red);
  padding: 1rem;
  text-decoration: none;
  font-size: 4vw;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

.BtnFilme:hover {
  color: #fff;
  background-color: var(--red);
  transition: all 0.8s ease;
}
