article.Detail {
  width: 100vw;
}

div.InnerDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.BoxDetail {
  width: 90%;
  background-color: ghostwhite;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 5px #333);
}

div.BoxDetail img {
  width: 100%;
}

div.BoxDetail h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 4rem;
}

@media only screen and (max-width: 600px) {
  div.BoxDetail h2 {
    font-size: 2rem;
  }
}

div.BoxDetail p {
  max-width: 100%;
  line-height: 2.5rem;
  margin-top: 1.3rem;
  font-size: 1.5em;
}

div.BoxDetail p a {
  text-decoration: none;
  color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

div.BoxDetail p a:hover {
  background-color: var(--red);
  color: #fff;
  transition: all 0.8s ease;
}
